/* styles.css */

.full-page-container {
    padding: 300px;
}

.pending-expenses {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.expense-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.expense-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.expense-card p {
    margin: 0;
    font-size: 14px;
    color: #333;
}
.btn-color{
    color: #e95656;
}